# Data files
/odata/
/wdata/
/selection.tables/
/w.selection.tables/
*.xls
*.csv
*.rds
# *.txt
# figures
*.pdf
*.png
*.jpg
*.jpeg
*.tiff
*.zip
# Docs
*.doc
*.docx
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
.DS_Store
# RStudio files
.Rproj.user/
# produced htmls
scripts/*.html
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
